[submodule "bash/--force"]
	path = bash/--force
	url = https://github.com/bats-core/bats-core.git
[submodule "bash/test/test_helper/bats-assert"]
	path = bash/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "bash/test/test_helper/bats-support"]
	path = bash/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "bash/test/bats"]
	path = bash/test/bats
	url = https://github.com/bats-core/bats-core.git
