name: Ruby

on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/ruby.yml
      - ruby/**
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/ruby.yml
      - ruby/**

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ruby

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure Ruby
        uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b
        with:
          ruby-version: '3'
          bundler-cache: true
          working-directory: ruby

      - name: Test
        run: bundle exec rspec -fd
