name: Ruby

on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/ruby.yml
      - ruby/**
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/ruby.yml
      - ruby/**

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ruby

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25
        with:
          ruby-version: '3'
          bundler-cache: true
          working-directory: ruby

      - name: Test
        run: bundle exec rspec -fd
